@layer mui, utilities;

@import "tailwindcss";

@tailwind utilities;
@theme {
--color-space-indigo-50: #f0f0f5;
    --color-space-indigo-100: #e0e1eb;
    --color-space-indigo-200: #c1c3d7;
    --color-space-indigo-300: #a2a5c3;
    --color-space-indigo-400: #8487ae;
    --color-space-indigo-500: #65699a;
    --color-space-indigo-600: #51547b;
    --color-space-indigo-700: #3c3f5d;
    --color-space-indigo-800: #282a3e;
    --color-space-indigo-900: #14151f;
    --color-space-indigo-950: #0e0f16;

    --color-lavender-grey-50: #f0f2f4;
    --color-lavender-grey-100: #e1e4ea;
    --color-lavender-grey-200: #c3cad5;
    --color-lavender-grey-300: #a5afc0;
    --color-lavender-grey-400: #8894aa;
    --color-lavender-grey-500: #6a7a95;
    --color-lavender-grey-600: #556177;
    --color-lavender-grey-700: #3f495a;
    --color-lavender-grey-800: #2a313c;
    --color-lavender-grey-900: #15181e;
    --color-lavender-grey-950: #0f1115;

    --color-platinum-50: #eff4f5;
    --color-platinum-100: #dfe8ec;
    --color-platinum-200: #c0d1d8;
    --color-platinum-300: #a0bac5;
    --color-platinum-400: #81a4b1;
    --color-platinum-500: #618d9e;
    --color-platinum-600: #4e717e;
    --color-platinum-700: #3a545f;
    --color-platinum-800: #27383f;
    --color-platinum-900: #131c20;
    --color-platinum-950: #0e1416;

    --color-punch-red-50: #fde7ea;
    --color-punch-red-100: #fbd0d5;
    --color-punch-red-200: #f8a0aa;
    --color-punch-red-300: #f47180;
    --color-punch-red-400: #f14156;
    --color-punch-red-500: #ed122b;
    --color-punch-red-600: #be0e23;
    --color-punch-red-700: #8e0b1a;
    --color-punch-red-800: #5f0711;
    --color-punch-red-900: #2f0409;
    --color-punch-red-950: #210206;

    --color-flag-red-50: #fee6ea;
    --color-flag-red-100: #fecdd5;
    --color-flag-red-200: #fd9bab;
    --color-flag-red-300: #fc6982;
    --color-flag-red-400: #fb3758;
    --color-flag-red-500: #fa052e;
    --color-flag-red-600: #c80425;
    --color-flag-red-700: #96031c;
    --color-flag-red-800: #640212;
    --color-flag-red-900: #320109;
    --color-flag-red-950: #230106;
}
