@import "tailwindcss";

@theme {
    --color-primary: #1da1f2;
    --color-secondary: #14171a;
    --color-accent: #657786;
    --color-olive-leaf-50: #f4f6ee;
        --color-olive-leaf-100: #eaeedd;
        --color-olive-leaf-200: #d5dcbc;
        --color-olive-leaf-300: #c0cb9a;
        --color-olive-leaf-400: #aaba78;
        --color-olive-leaf-500: #95a857;
        --color-olive-leaf-600: #778745;
        --color-olive-leaf-700: #5a6534;
        --color-olive-leaf-800: #3c4323;
        --color-olive-leaf-900: #1e2211;
        --color-olive-leaf-950: #15180c;
    
        --color-black-forest-50: #f3f7ed;
        --color-black-forest-100: #e6efdc;
        --color-black-forest-200: #cddfb9;
        --color-black-forest-300: #b4d095;
        --color-black-forest-400: #9cc072;
        --color-black-forest-500: #83b04f;
        --color-black-forest-600: #698d3f;
        --color-black-forest-700: #4e6a2f;
        --color-black-forest-800: #344620;
        --color-black-forest-900: #1a2310;
        --color-black-forest-950: #12190b;
    
        --color-cornsilk-50: #fefbe6;
        --color-cornsilk-100: #fdf7ce;
        --color-cornsilk-200: #fcef9c;
        --color-cornsilk-300: #fae76b;
        --color-cornsilk-400: #f9df39;
        --color-cornsilk-500: #f7d708;
        --color-cornsilk-600: #c6ac06;
        --color-cornsilk-700: #948105;
        --color-cornsilk-800: #635603;
        --color-cornsilk-900: #312b02;
        --color-cornsilk-950: #231e01;
    
        --color-sunlit-clay-50: #fbf3ea;
        --color-sunlit-clay-100: #f6e7d5;
        --color-sunlit-clay-200: #edceab;
        --color-sunlit-clay-300: #e4b681;
        --color-sunlit-clay-400: #db9d57;
        --color-sunlit-clay-500: #d2852d;
        --color-sunlit-clay-600: #a86a24;
        --color-sunlit-clay-700: #7e501b;
        --color-sunlit-clay-800: #543512;
        --color-sunlit-clay-900: #2a1b09;
        --color-sunlit-clay-950: #1d1306;
    
        --color-copperwood-50: #fbf2ea;
        --color-copperwood-100: #f7e4d4;
        --color-copperwood-200: #eecaaa;
        --color-copperwood-300: #e6af7f;
        --color-copperwood-400: #dd9455;
        --color-copperwood-500: #d57a2a;
        --color-copperwood-600: #aa6122;
        --color-copperwood-700: #804919;
        --color-copperwood-800: #553111;
        --color-copperwood-900: #2b1808;
        --color-copperwood-950: #1e1106;
}
